.dashboard-container {
    display: flex;
}

.content {

    flex: 1;

    padding: 30px;

    background-color: #F4F6F9;

    min-height: 100vh;
}
.login-button {

    width: 100%;

    padding: 14px;

    background-color: #163D77;

    color: white;

    border: none;

    border-radius: 6px;

    font-size: 15px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.login-button:hover {

    background-color: #4d71ff;;
}


.cards-container {

    display: flex;

    gap: 20px;

    margin-top: 30px;

    margin-bottom: 40px;
}

.bank-card {

    background: linear-gradient(135deg, #0A1F44, #163D77);

    color: white;

    width: 320px;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.bank-card h3 {

    margin-bottom: 20px;
}

.saldo {

    font-size: 32px;

    font-weight: bold;

    margin-bottom: 20px;
}

.section {

    background-color: white;

    padding: 25px;

    border-radius: 10px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

table {

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;
}

th, td {

    padding: 15px;

    border-bottom: 1px solid #ddd;

    text-align: left;
}

th {

    color: #0A1F44;
}