.navbar {
    background-color: #0A1F44;
    color: white;
}


.logo h1{
    font-weight: bold;
    font-size: 35px;
}
.spacer {
    flex: 1;
}
.navbar-button {

    width: 150px;

    padding: 14px;

    background-color: #e63434;

    color: white;

    border: none;

    border-radius: 6px;

    font-size: 15px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.navbar-button:hover {

    background-color: #8b1111;;
}